body {
    font-family: Arial, sans-serif;
    background-color: white;
    background-image: url('UIController/images/bg4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.game-container {
    position: relative; 
    display: flex;
    width: 1120px;
    height: 550px;
    margin: 100px auto;
    /* outline: 1px solid black; */
  }

.grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(10, 54px);
    
}

.thumbnail{
    flex: 1;
    display: grid;
    margin: auto 100px;
    grid-template-columns: repeat(10,40px);
}
.thumbnail-cell{
    display: flex;
    width: 38px;
    height: 38px;
    background: #fc9294;
    border: 1px solid white;
}
.grid-cell {
    width: 52px;
    height: 52px;
    background: #fc9294;
    border: 1px solid transparent;
    
}

.grid-cell-elements {
    width: 100%;
    height: 100%;
    background: #fc9294;
    display: none;
}

.grid-cell.breeze {
    color: #000;
    /* display: none; */
}

.grid-cell.stench {
    color: #000;
    /* display: none; */
}

#player {
    width: 20px;
    height: 20px;
    background-image: url('path_to_player_image.png');
    background-color: transparent;
    position: absolute;
    z-index: 1;
}

.wumpus {
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.pit {
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    /* display: none; */
}

#score {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#arrows {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#message {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}