body {
    font-family: Arial, sans-serif;
}


.game-container {
    position: relative; 
    width: 1120px;
    height: 550px;
    margin: 20px auto;
    outline: 1px solid black;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 54px);
    
}


.grid-cell {
    width: 52px;
    height: 52px;
    background: #8b4513;
    border: 1px solid black;
    
}

.grid-cell-elements {
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
}

.grid-cell.breeze {
    color: #000;
    /* display: none; */
}

.grid-cell.stench {
    color: #000;
    /* display: none; */
}

#player {
    width: 20px;
    height: 20px;
    background-image: url('path_to_player_image.png');
    background-color: #00f;
    position: absolute;
    z-index: 1;
}

.wumpus {
    width: 20px;
    height: 20px;
    background-color: #f00;
    position: absolute;
    z-index: 1;
    /* display: none; */
}

.pit {
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
    z-index: 1;
    /* display: none; */
}




#score {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#arrows {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#message {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}